.Service{
    background-image: url(/images/all-bg-title.jpg);
    height: 40vh;
    background-attachment: fixed;
    background-size: cover;
}
.Service .container{
    background-color: rgba(0, 0, 0, 0.688);
    height: 40vh;
width: 100%;
}
.Service h1{
    color: white;
    text-align: center;
    padding-top: 15vh; 
    transition: all .3s;

}
.Service h1:hover{
    color: #d33b33;
    transition: all .3s;

}
.our-services .container{
    display: flex;
    flex-direction: row;
}


.our-services .container div{
    margin: 13px ;
    padding-left: 10px;
    border-left: 4px solid black;
    letter-spacing: 1px;
    margin: 40px 0;
    transition: all .3s;

}
.our-services .container div:hover{
    border-color: #d33b33;
    transition: all .3s;
}
.our-services .container div p{
    padding: 10px 0;
    line-height: 30px;
}
.our-services .container div h2{
    font-weight: 500;
}